<template>
    <el-dialog title="Importar Excel de Listado de Docente" :visible.sync="dialogVisible" width="30%"
     :close-on-click-modal="false" :close-on-press-escape="false" :show-close="false">
        <span> 
       <div class="row">
       <div class="col-md-12">
            <a href="/formats/planilla.xlsx" target="_new">Descargar formato</a>
       </div>
       <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Archivo Excel</label><br><br>
                <el-upload
                    ref="upload"
                    :headers="headers"
                    :data="{'password': form.password}"
                    action="/user/uploads"
                    :show-file-list="true"
                    :auto-upload="false"
                    :multiple="false"
                    :on-error="errorUpload"
                    :on-success="successUpload">
                    <el-button slot="trigger" type="primary">Selecciona un archivo</el-button>
                </el-upload>
        </div>
        </div>   
        </div>
       </span>
         <small class="text-danger" v-if="errors.error" v-text="errors.error['2.email'][0]"></small><br>
           <small class="text-danger" v-if="errors.error" v-text="errors.error['2.pers_chdocide'][0]"></small>
    <span slot="footer" class="dialog-footer">
        <el-button @click="close()">Cancelar</el-button>
        <el-button type="primary" @click="upload()">Aceptar</el-button>
    </span>
</el-dialog>
</template>
<script>
export default {
   props: ["dialogVisible"], 
   data() {
    return {
        headers: headers_token,
        errors: {},
        form: {}
    }
   },
    created() {
            this.initForm()
    },
    methods: {
        initForm() {
            this.errors = {}
            this.form = {
                id: null,
                certificate: null,
                password: null,
            }
        },
         successUpload(response, file, fileList) {
                if (response.success) {
                    this.$message.success(response.message)
                    this.$eventHub.$emit('reloadData')
                    this.close()
                } else {
                    console.log(response.status)
                  //  this.$message({message:response.message})
                }
            },
            upload(){
                  this.$refs.upload.submit();
            },
            errorUpload(response) {
               let message=response.toString
               if (response.status === 422) {
                    this.errors =JSON.parse(response.message)
                  // alert(Object.getOwnPropertyNames(response))
              //  console.log(response.stack)
                 console.log(response.message)
                } 
            },
         close() {
      this.$emit("update:dialogVisible", false);
    }
        }
}
</script>