<template>
    <form autocomplete="off" @submit.prevent="submit"  v-loading="loadingForm" element-loading-text="Cargando Espere...">
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                          <div class="row">
                                                              <div class="col-md-4">
                                                                      <x-form-group label="Nombres y Apellidos" :error="errors.name">
                                                                        <el-input v-model="form.name">
                                                                        </el-input>
                                                                        </x-form-group>
                                                              </div>
                                                                <div class="col-md-4">
                                                                      <x-form-group label="Documento de Identidad" :error="errors.pers_chdocide">
                                                                        <el-input v-model="form.pers_chdocide">
                                                                        </el-input>
                                                                        </x-form-group>
                                                              </div>  <div class="col-md-4">
                                                                      <x-form-group label="Celular" :error="errors.pers_chcelper">
                                                                        <el-input v-model="form.pers_chcelper">
                                                                        </el-input>
                                                                        </x-form-group>
                                                              </div>  <div class="col-md-4">
                                                                      <x-form-group label="Direccion" :error="errors.pers_chdirper">
                                                                        <el-input v-model="form.pers_chdirper">
                                                                        </el-input>
                                                                        </x-form-group>
                                                              </div>
                                                                    <div class="col-md-4">
                                                                        <x-form-group label="Correo electrónico" :error="errors.email">
                                                                          <el-input v-model="form.email"></el-input>
                                                                        </x-form-group>
                                                                    </div>  
                                                                    <div class="col-md-4" >
                                                                          <x-form-group label="Nuevo Passwod" :error="errors.new_password">
                                                                            <el-input v-model="form.new_password" show-password></el-input>
                                                                          </x-form-group>
                                                                    </div>
                                                                     <div class="col-md-4" >
                                                                          <x-form-group label="Nivel de Usuario" :error="errors.nive_f_incodniv">
                                                                              <el-select v-model="form.nive_f_incodniv" clearable >
                                                                                <el-option
                                                                                    v-for="item in array_nivel"
                                                                                    :key="item.id"
                                                                                    :label="item.nive_chnomniv"
                                                                                    :value="item.id">
                                                                                </el-option>
                                                                            </el-select>
                                                                          </x-form-group>
                                                                    </div>
                                                                    <div class="col-md-4" >
                                                                          <x-form-group label="Tipo de Usuario" :error="errors.tipo_f_incodusu">
                                                                              <el-select v-model="form.tipo_f_incodusu" clearable >
                                                                                <el-option
                                                                                    v-for="item in array_tipousuario"
                                                                                    :key="item.id"
                                                                                    :label="item.tipo_chnomusu"
                                                                                    :value="item.id">
                                                                                </el-option>
                                                                            </el-select>
                                                                          </x-form-group>
                                                                    </div>
                                                                     <div class="col-md-4">
                                                                          <x-form-group label="Facultad" :error="errors.facu_f_incodfac">
                                                                              <el-select v-model="form.facu_f_incodfac" clearable >
                                                                                <el-option
                                                                                    v-for="item in array_facultad"
                                                                                    :key="item.id"
                                                                                    :label="item.facu_chnomfac"
                                                                                    :value="item.id">
                                                                                </el-option>
                                                                            </el-select>
                                                                          </x-form-group>
                                                                    </div>  
                                                              </div>
                                                          </div>
                                                        
                                                      </div>
                                                <div class="form-actions text-right mt-0">
                                                   <el-button @click.prevent="close()">Cancelar</el-button>
                                                    <el-button type="primary"  :loading="loading_submit" @click="submit()">Guardar</el-button>
                                                </div>
                                         </form>
</template>

<script>
 //const cityOptions = [];

import {functions} from '../../mixins/functions'
import { Loading } from 'element-ui';

import _ from "lodash";
export default {
  mixins: [functions],
  props: ["recordId", "mostrar_form"],
  data() {
    return {
      loading_submit: false,
      loadingForm:false,  
      resource: "user",
      errors: {},
      array_roles:[],
      form: {},
       array_roles:[],
      array_nivel:[],
      array_tipousuario:[],
      array_facultad:[],
      cityOptions:[],
         checkAll: false,
        cities: this.cityOptions,
        isIndeterminate: false
    };
  },

  async created() {
      this.initForm()
      this.create();
      //this.cargar_tables()
  },

  methods: {
    async cargar_tables() {
      
    },
 
    initForm() {
       this.errors = {}
        this.form = {
            id: null,
            name: null,
            email: null,
            password:null,
            tipo_f_incodusu:null, 
            nive_f_incodniv:null, 
            facu_f_incodfac:null, 
            pers_chdocide:null,
            pers_chcelper:null,
            pers_chdirper:null,
            
        }
    },
    async create() {
     this.cargar_tables()
      const response=await this.$http.get(`/${this.resource}/tables`);
         this.array_tipousuario=response.data.tipousuario;
         this.array_nivel=response.data.niveles;
         this.array_facultad=response.data.facultad;
      if (this.recordId) {
        this.loadingForm = true;
        const respuesta = await this.$http.get(`/${this.resource}/record/${this.recordId}`);
        this.form =  respuesta.data.data
        this.loadingForm = false;
      }
      
     
    },
     submit() {
        this.loading_submit = true
        this.$http.post(`/${this.resource}`, this.form)
            .then(response => {
                if (response.data.success) {
                    this.$message.success(response.data.message)
                    this.close()
                } else {
                    this.$message.error(response.data.message)
                }
                
            })
            .catch(error => {
                if (error.response.status === 422) {
                    this.errors = error.response.data.error
                } else {
                    console.log(error)
                 }
            })
            .then(() => {
                this.loading_submit = false
            })
            },
    close() {
      this.active = 0;
      this.$emit("update:mostrar_form", false);
      this.$emit("update:recordId", 0);
      this.initForm();
    }
  }
};
</script>
