<template>
    <div>
        <div class="row text-right">

            <div class="col-md-12 col-lg-12 col-xl-12 text-right">
                <div class="row text-right">

                    <div class="col-lg-12 col-md-4 col-sm-12 pb-2 sinespacios text-right">
                        <el-select  v-model="search.column" slot="prepend"
                                    placeholder="Opciones"
                                     size="mini"
                                    class="col-lg-3 col-md-4 col-sm-12"
                                     style="width:100%;"
                          @change="changeClearInput">
                            <el-option v-for="(label, key) in columns" :key="key" :value="key" :label="label"></el-option>
                        </el-select>
                        <template v-if="search.column=='seme_f_incodaca'">
                          <el-select v-model="search.value" @change="getRecords" clearable class="col-lg-3 col-md-4 col-sm-12">
                            <el-option
                                v-for="item in array_semestre"
                                :key="item.id"
                                :label="item.seme_chnomaca"
                                :value="item.id">
                            </el-option>
                        </el-select>  
                        </template>
                        <template v-else-if="search.column === 'facu_f_incodfac'" >
                        <el-select v-model="search.value" @change="getRecords" clearable class="col-lg-3 col-md-4 col-sm-12">
                            <el-option
                                v-for="item in array_facultad"
                                :key="item.id"
                                :label="item.facu_chnomfac"
                                :value="item.id">
                            </el-option>
                        </el-select>
                        </template>
                        <template v-else>
                        <el-input  class="col-lg-3 col-md-4 col-sm-12"
                                    placeholder="Buscar"
                                     size="mini"
                                     style="width:100%;"
                                      @input="getRecords"
                                   
                                    v-model="search.value">

                        </el-input>

                        </template>
                    </div>

           </div>
            </div>


            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">

                        <thead>
                        <slot name="heading"></slot>
                        </thead>
                        <tbody>
                        <slot v-for="(row, index) in records" :row="row" :index="customIndex(index)"></slot>
                        </tbody>
                    </table>
                    <div>
                        <el-pagination
                                @current-change="getRecords"
                                layout="total, prev, pager, next"
                                :total="pagination.total"
                                :current-page.sync="pagination.current_page"
                                :page-size="pagination.per_page">
                        </el-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>

    import queryString from 'query-string'
    import { Loading } from 'element-ui';

    export default {
        props: {
            resource: String,
        },
        data () {
            return {
                search: {
                    column: null,
                    value: null,
                    loading:true,
                },
                array_semestre:[],
                array_facultad:[],
                columns: [],
                records: [],
                pagination: {}
            }
        },
        computed: {
        },
        created() {
            this.$eventHub.$on('reloadData', () => {
                this.getRecords()
            })


        },
        async mounted () {

            await this.$http.get(`${this.resource}/columns`).then((response) => {
                this.columns = response.data
                this.search.column = _.head(Object.keys(this.columns))
            });
           
            await this.getRecords()
             await this.getTables()
        },
        methods: {
            customIndex(index) {
                return (this.pagination.per_page * (this.pagination.current_page - 1)) + index + 1
            },
            getTables(){
                 return this.$http.get(`user/tables`).then((response) => {
                     this.array_semestre=response.data.semestre
                     this.array_facultad=response.data.facultad
                });
            },
            getRecords() {
                const loading = this.$loading({
                    target:document.querySelector('.table-responsive'),
                    fullscreen:false,
                    text: 'Espere por Favor, Cargando Registros',
                    spinner: 'el-icon-loading',

                });

                return this.$http.get(`${this.resource}/records?${this.getQueryParameters()}`).then((response) => {
                    this.records = response.data.data
                    this.pagination = response.data.meta
                    this.pagination.per_page = parseInt(response.data.meta.per_page)
                    loading.close();
                });
            },
            getQueryParameters() {
                return queryString.stringify({
                    page: this.pagination.current_page,
                    limit: this.limit,
                    ...this.search
                })
            },
            changeClearInput(){
                this.search.value = ''
                this.getRecords()
            }
        }
    }
</script>
