<template>
  <div class="content-wrapper">
            <div class="content-body">
                <!-- card actions section start -->
                <section id="card-actions">
                      <h4 class="card-title text-success"><i class="fa fa-bell" aria-hidden="true"></i> Total de Notificaciones Enviadas</h4>
                     <div class="row">
                        <div class="col-xl-2 col-md-4 col-sm-6">
                            <div class="card text-center">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="avatar bg-rgba-success p-50 m-0 mb-1">
                                            <div class="avatar-content">
                                                <i class="feather icon-message-square text-success font-medium-5"></i>
                                            </div>
                                        </div>
                                        <h2 class="text-bold-700 text-success">{{student}}</h2>
                                        <p class="mb-0 line-ellipsis">Estudiante</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-4 col-sm-6">
                            <div class="card text-center">
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="avatar bg-rgba-success p-50 m-0 mb-1">
                                            <div class="avatar-content">
                                                <i class="feather icon-message-square text-success font-medium-5"></i>
                                            </div>
                                        </div>
                                        <h2 class="text-bold-700 text-success">{{teacher}}</h2>
                                        <p class="mb-0 line-ellipsis">Docentes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </section>
                <!-- // card-actions section end -->

            </div>
        </div>      
</template>
<style>
.display{
    display:block !important;
}
</style>

<script>
    import { Loading } from 'element-ui';
    export default {
        data() {
            return {
               
                resource: 'notifications',
                student:null,
                teacher: null,
            }
        },
        async  created() {
           this.loadConteo();
          // const response=await this.$http.get(`notifications/viewnotifications`);

       },
        methods: {
           async loadConteo() {
                const response=await this.$http.get(`notifications/viewnotifications`); 
                 if(response.data.success==true){
                     this.student=response.data.student;
                     this.teacher=response.data.teacher;
                 }            
            },
            
            
        }
    }
</script>
