<template>
    <form autocomplete="off" @submit.prevent="submit"  v-loading="loadingForm" element-loading-text="Cargando Espere...">
      <div class="row">
        <div class="col-md-7">
            <div class="row">
               <div class="col-md-12">
                    <x-form-group label="Titulo" :error="errors.title">
                      <el-input v-model="form.title"></el-input>
                    </x-form-group>
                </div>  
                <div class="col-md-12">
                      <x-form-group label="Contenido de Mensaje" :error="errors.body">
                        <el-input  type="textarea"  :autosize="{ minRows: 5, maxRows: 6 }" v-model="form.body"></el-input>
                      </x-form-group>
                </div>
                
          </div>
        </div>
        <div class="col-md-3">
            
          <div class="col-md-12">
              <x-form-group label="Tipo de Usuario" :error="errors.tipo_f_incodusu">
                      <el-checkbox :indeterminate="isIndeterminate2" v-model="checkAll2" @change="handleCheckAllChange2">Seleccionar Todos Usuarios</el-checkbox>
                       <template>
                          <el-checkbox-group v-model="form.todos" @change="handlecheckedTiposChange">
                                <el-checkbox-button v-for="(user,index) in tipoUsers" :key="index"  :label="user" >{{user}}</el-checkbox-button>
                          </el-checkbox-group>
                      </template> 
                     
                    
                    </x-form-group>
            </div> 

        <div class="col-md-12">
          <template v-if="UserActive=='Vicerectorado' || UserActive=='Administrador'">
           <x-form-group label="Facultad" :error="errors.facultades">
              <el-select v-model="form.facultades" multiple collapse-tags clearable >
                    <el-option
                        v-for="item in array_facultad"
                        :key="item.id"
                        :label="item.facu_chnomfac"
                        :value="item.id">
                    </el-option>
                </el-select>
              </x-form-group>
            </template>
            <template v-else>
               <x-form-group label="Facultad" >
                 <b>{{facultadActive}}</b>
              </x-form-group>
            </template>
          </div>  
          <div class="col-md-12">
                  <x-form-group label="Semestre" :error="errors.seme_f_incodaca">
                      <el-select v-model="form.seme_f_incodaca" clearable >
                        <el-option
                            v-for="item in array_semestre"
                            :key="item.id"
                            :label="item.seme_chnomaca"
                            :value="item.id">
                        </el-option>
                    </el-select>
                  </x-form-group>
            </div>
        </div>
      <div class="col-md-2">
        
          <div class="col-md-12">
              <x-form-group label="Imagen" :error="errors.pers_chdirper">
              <el-upload
                    class="avatar-uploader"
                    ref="upload"
                    :headers="headers"
                    action="/notifications/upload"
                    :show-file-list="false"
                    :auto-upload="true"
                    :multiple="false"
                    :on-error="errorUpload"
                    :on-success="successUpload">
              <el-image v-if="form.image" :src="form.image"></el-image>
              <i v-else class="el-icon-plus avatar-uploader-icon"></i>        
            
                </el-upload>
              
              </x-form-group>
          </div>
      </div>
    </div>
  <div class="form-actions text-right mt-0">
      <el-button @click.prevent="close()">Cancelar</el-button>
      <el-button type="primary"  :loading="loading_submit" @click="submit()">Guardar</el-button>
  </div>
</form>
</template>
<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .el-image__inner {
    width: 178px !important;
    height: 178px !important;
    display: block !important;
  }
</style>
<script>
 const tipoOptions = ['Alumnos','Docentes'];
import moment from "moment";
import {functions} from '../../mixins/functions'
import { Loading } from 'element-ui';

import _ from "lodash";
export default {
  mixins: [functions],
  props: ["recordId", "mostrar_form"],
  data() {
    return {
      disable:true,
      loading_submit: false,
      loadingForm:false,  
      UserActive:null,
      facultadActive:null,
      resource: "notifications",
       imageUrl: '',
      errors: {},
       headers: headers_token,
      array_roles:[],
      form: {},
      cityOptions:[],
      cities: this.cityOptions,
      tipoUsers:['Alumnos','Docentes'],
       array_roles:[],
      array_nivel:[],
      array_tipousuario:[],
      array_facultad:[],
      array_semestre:[],
        checkAll: false,
        checkAll2:false,
         isIndeterminate2: false,
        isIndeterminate: false
    };
  },

  async created() {
      this.initForm()
      this.create();
      //this.cargar_tables()
  },

  methods: {
    async cargar_tables() {
      
    },
  successUpload(response, file, fileList) {
          if (response.success) {
              this.$message.success(response.message)
              this.form.image=response.name
          } else {
              this.$message({message:response.message})
          }
      },
      errorUpload(response) {
          console.log(response)
      },
        handleCheckAllChange2(val) {
        this.form.todos = val ? this.tipoUsers : [];
        this.isIndeterminate2 = false;
      },
        handleCheckAllChange(val) {
        this.form.facultades = val ? this.cityOptions : [];
        this.isIndeterminate = false;
      },
        handlecheckedTiposChange(value) {
        let checkedCount2 = value.length;
        this.checkAll2 = checkedCount2 === this.tipoUsers.length;
        this.isIndeterminate2 = checkedCount2 > 0 && checkedCount2 < this.tipoUsers.length;
      },
        handlecheckedRolesChange(value) {
        let checkedCount = value.length;
        this.checkAll = checkedCount === this.cities.length;
        this.isIndeterminate = checkedCount > 0 && checkedCount < this.cities.length;
      },
    initForm() {
       this.errors = {}
        this.form = {
             selection:1,
            id: null,
            todos:[],
            facultades:[],
            seme_f_incodaca: null,
            facu_f_incodfac: null,
            tipo_f_incodusu:null,
            nive_f_incodniv:null,
            title:null, 
            body:null, 
            date:moment().format("YYYY-MM-DD"),
            image:null
            
        }
    },
    async create() {
     this.cargar_tables()
      const response=await this.$http.get(`/user/tables`);
         this.array_tipousuario=response.data.tipousuario;
         this.array_nivel=response.data.niveles;
         this.UserActive=response.data.useractive.nive_chnomniv;
         if(this.UserActive=='Facultad'){
           this.form.facu_f_incodfac=response.data.facultadActive.id
         }
          this.facultadActive=response.data.facultadActive.facu_chnomfac;
         this.array_facultad=response.data.facultad;

         this.array_semestre=response.data.semestre;
        this.cityOptions=[]
        let ii=-1;
         for (let i = 0; i < this.array_facultad.length; i++) {
          this.cityOptions.push(this.array_facultad[i].facu_chnomfac)
       }
       this.cities= this.cityOptions;
      if (this.recordId) {
        this.loadingForm = true;
        const respuesta = await this.$http.get(`/${this.resource}/record/${this.recordId}`);
        this.form =  respuesta.data.data
        this.loadingForm = false;
      }
      this.form.nive_f_incodniv=response.data.nivelsession.nive_f_incodniv;
 
    },
     submit() {
        this.loading_submit = true
        this.$http.post(`/${this.resource}`, this.form)
            .then(response => {
                if (response.data.success) {
                    this.$message.success(response.data.message)
                    this.close()
                } else {
                    this.$message.error(response.data.message)
                }
                
            })
            .catch(error => {
                if (error.response.status === 422) {
                    this.errors = error.response.data.error
                } else {
                    console.log(error)
                 }
            })
            .then(() => {
                this.loading_submit = false
            })
            },
    seleccion(){
      if(this.form.selection=='1'){
        this.disable=true
      }else{
         this.disable=false;
         this.form.facultades =[];
         this.isIndeterminate = true;
      }
    },      
    close() {
      this.active = 0;
      this.$emit("update:mostrar_form", false);
      this.$emit("update:recordId", 0);
      this.initForm();
    }
  }
};
</script>
