<template>
  <div class="content-wrapper">
            <div class="content-body">
                <!-- card actions section start -->
                <section id="card-actions">

                    <!-- Info table about action starts -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header bg-primary  pt-1 pb-1">
                                    <h4 class="card-title text-white"><i class="feather icon-grid"></i>{{titleDialog}}</h4>
                                    <div class="heading-elements pt-0 mt-0">
                                        <ul class="list-inline mb-0 pt-0 mt-0 display" >
                                        <li>
                                              <a data-action="expand"> 
                                                   <el-tooltip class="item" effect="light" content="Ampliar Pantalla" placement="bottom">
                                                    <el-button icon="el-icon-full-screen" size="mini">
                                                    </el-button>
                                                   </el-tooltip> 
                                                </a>
                                        </li>  
                                      
                                         <li class="pt-0 mt-0">
                                                <el-tooltip class="item" effect="light" content="Crear un Nuevo Usuario" placement="bottom">
                                                <el-button icon="el-icon-plus" size="mini" @click.prevent="clickCreate()" v-if="!mostrar_form"></el-button>
                                                </el-tooltip>
                                         </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                            <data-table :resource="resource" :type="type"  v-if="!mostrar_form">
                                <tr slot="heading">
                                    <th  class="text-center">N°</th>
                                    <th class="text-center">Titulo </th>
                                     <th class="text-center">Quien Envia</th>
                                    <th class="text-center">Destino</th>  
                                    <th class="text-center">Facultad</th> 
                                    <th class="text-center">N° Notificacion Visto Alumnos</th> 
                                    <th class="text-center">N° Notificacion Visto Docentes</th> 
                                    <th class="text-center">Fecha</th> 
                                    <th class="text-center">Hora</th> 

                                <tr>
                                <tr slot-scope="{index, row}" :class="row.state=='0' ? 'table-danger' : ' ' ">
                                    <td class="text-center">{{ index }}</td>
                                    <td class="text-center">{{ row.title}}</td>
                                   
                                    <td class="text-center">{{ row.nivel_usuario.nive_chnomniv }}</td>
                                     <td class="text-center">{{ row.tipo_usuario.tipo_chnomusu }}</td>
                                    <td class="text-center">  
                                        {{ row.facultad.facu_chnomfac }}
                                    </td>
                                    <template v-if="row.number_student!=0">
                                        <td class="text-center"><i class="fa fa-eye text-success"></i> {{ row.number_student }}</td>
                                    </template>
                                    <template v-else>
                                        <td class="text-center"></td>
                                    </template>
                                    <template v-if="row.number_teacher!=0">
                                       <td class="text-center" ><i class="fa fa-eye text-success"></i> {{ row.number_teacher }}</td>
                                    </template>
                                    <template v-else>
                                        <td class="text-center"></td>
                                    </template>
                                      <td class="text-center">{{ row.date }}</td>
                                       <td class="text-center">{{ row.hora }}</td>    
                                </tr>
                            </data-table>
                                            </div>
                                        </div>
                                        <template>
                                             <UserForm
                                                v-if="mostrar_form"
                                                :loadingForm.sync="loadingForm"
                                                :recordId.sync="recordId"
                                                :mostrar_form.sync="mostrar_form">
                                             </UserForm>
                                        </template>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Info table about action Ends -->
                </section>
                <!-- // card-actions section end -->

            </div>
        </div>      
</template>
<style>
.display{
    display:block !important;
}
</style>

<script>
    import UserForm from './form.vue'
    import DataTable from '../../components/DataTable.vue'
    import {deletable} from '../../mixins/deletable'
    import { Loading } from 'element-ui';
    export default {
        mixins: [deletable],
        components: { DataTable,UserForm},
        data() {
            return {
                showDialog: false,
                resource: 'notifications',
                loadingForm:false,
                recordId: null,
                mostrar_form:false,
                array_products:[],
                type:'1',
                titleDialog:"Lista de Notificaciones",
            }
        },
        async  created() {
           
       },
        methods: {
            clickCreate(recordId = 0) {
                this.mostrar_form = true;
                if(recordId!=0){
                    this.recordId = recordId;
                    this.loadingForm=true
                    this.titleDialog="Modificar Notificación"
                }else{
                    this.loadingForm=false;
                    this.titleDialog="Registrar Notificación"   
                }
            },
            clickDelete(id) {
                this.destroy(`/${this.resource}/baja/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            },
            
        }
    }
</script>
