<template>
<div class="content-wrapper">
<div class="content-body">
    <!-- card actions section start -->
    <section id="basic-horizontal-layouts">

        <!-- Info table about action starts -->
        <div class="row justify-content-center">
            <div class="col-md-6 col-12">
                <div class="card mb-0">
                    <div class="card-header bg-primary  pt-1 pb-1">
                        <h4 class="card-title text-white"><i class="feather icon-grid"></i>{{titleDialog}}</h4>
                        <div class="heading-elements pt-0 mt-0">
                            
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form id="form" target="_blank" action="contratos/generarpdf" class="form form-vertical" @submit.prevent="generarPdf">
                                        <div class="row">
                                    <div class="col-md-6">
                                        <x-form-group label="Quien Envio" :error="errors.seme_f_incodaca">
                                            <el-select v-model="nive_f_incodniv" clearable >
                                                <el-option
                                                    v-for="item in array_nivel"
                                                    :key="item.id"
                                                    :label="item.nive_chnomniv"
                                                    :value="item.id">
                                                </el-option>
                                            </el-select>
                                        </x-form-group>
                                        </div>  
                                        <div class="col-md-6">
                                           <x-form-group label="Destinatario" :error="errors.tipo_f_incodusu">
                                            <el-select v-model="tipo_f_incodusu" clearable  @change="seleccionar_destinatario()">
                                            <el-option
                                                v-for="item in array_tipousuario"
                                                :key="item.id"
                                                :label="item.tipo_chnomusu"
                                                :value="item.id">
                                            </el-option>
                                        </el-select>
                                        </x-form-group>
                                        </div>  
                                           <div class="col-md-6">
                                             <x-form-group label="Facultad" :error="errors.facu_f_incodfac">
                                                <el-select v-model="facu_f_incodfac" clearable >
                                                    <el-option
                                                        v-for="item in array_facultad"
                                                        :key="item.id"
                                                        :label="item.facu_chnomfac"
                                                        :value="item.id">
                                                    </el-option>
                                                </el-select>
                                            </x-form-group>
                                        </div>
                                        <div class="col-md-6">
                                              <x-form-group label="Semestre" :error="errors.seme_f_incodaca">
                                                <el-select v-model="seme_f_incodaca" clearable>
                                                    <el-option
                                                        v-for="item in array_semestre"
                                                        :key="item.id"
                                                        :label="item.seme_chnomaca"
                                                        :value="item.id">
                                                    </el-option>
                                                </el-select>
                                            </x-form-group>
                                        </div>
                                        
                                                  
                                              </div>                                         
                                    <div class="form-actions text-right">
                                        <el-button-group>
                                            <el-button icon="el-icon-search" class="submit" type="primary" @click="generarPdf()">Expotar</el-button>
                                        </el-button-group>
                                    </div>
                                    </form>
                                    </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Info table about action Ends -->
    </section>
    <!-- // card-actions section end -->

</div>
</div> 

</template>
<script>
import moment from 'moment';
export default {
    props: ['showDialog2','Title_Modal'],
data() {
    return {
        facu_f_incodfac: null,
        seme_f_incodaca:0,
        tipo_f_incodusu:null,
        nive_f_incodniv:null,
        disabled:true,
        resource: 'notifications', // nombre tabla
        array_semestre:[],
        array_facultad:[],
        array_tipousuario:[],
        array_nivel:[],
        titleDialog:'Exportar Notificaciones a PDF',
        errors:{}
    }
},
created() {
    this.clickCreate();
},
methods: {
   async clickCreate() {
    const response=await this.$http.get(`/user/tables`);
      this.array_facultad=response.data.facultad;
      this.array_semestre=response.data.semestre;
      this.array_tipousuario=response.data.tipousuario;
      this.array_nivel=response.data.niveles;   
    },
    seleccionar_destinatario(){
        if(this.tipo_f_incodusu=="1"){
            this.disabled=false;
        }else{
           if(this.tipo_f_incodusu=="2"){  
               this.disabled=true;
               this.seme_f_incodaca=0;
        }
        }
    },
    generarPdf(){
        // facu_f_incodfac: null,
        //seme_f_incodaca:null,
        //tipo_f_incodusu:null,
        //nive_f_incodniv:null,
        if(this.nive_f_incodniv==null){
            this.$message.error('Seleccione el Usuario quien Envio las notificaciones');
        }else if(this.tipo_f_incodusu==null){
            this.$message.error('Seleccione el Usuario Destinatario las notificaciones');
        }else if(this.facu_f_incodfac==null){
            this.$message.error('Seleccione la facultad');
        }else{
        $('#form').attr('action',`/${this.resource}/${this.nive_f_incodniv}/${this.tipo_f_incodusu}/${this.facu_f_incodfac}/${this.seme_f_incodaca}`); 
        $('#form').submit()
        }
    }
}
}
</script>
