<template>
<div>
<div class="row page-titles">
    <div class="col-md-5 col-8">
        <h3 class="text-themecolor"> <i class="fa fa-users"></i> Dashboard</h3>
    </div>
 <div class="col-md-7 col-4">
      <div class="d-flex m-t-10 justify-content-end">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>  
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
               <div class="card-header bg-info text-white">
               <i class="fa fa-users"></i>  {{titleDialog}}
                 
            </div>
             <div class="card-body collapse show">
                
                 
             </div>
        </div>
    </div>
</div>

    </div>
            
</template>
<style>
.display{
    display:block !important;
}
</style>

<script>
    import UserForm from '../users/form.vue'
    import DataTable from '../../components/DataTable.vue'
    import {deletable} from '../../mixins/deletable'
    import { Loading } from 'element-ui';
    export default {
        mixins: [deletable],
        components: { DataTable,UserForm},
        data() {
            return {
                showDialog: false,
                resource: 'user',
                loadingForm:false,
                recordId: null,
                mostrar_form:false,
                array_products:[],
                Title_Modal:'Reporte de Ventas',
                type:'1',
                titleDialog:"Listado de Usuario",
                dialogVisible:false,
            }
        },
        async  created() {
           
       },
        methods: {
            clickCreate(recordId = 0) {
                this.mostrar_form = true;
                if(recordId!=0){
                    this.recordId = recordId;
                    this.loadingForm=true
                    this.titleDialog="Modificar Usuario"
                }else{
                    this.loadingForm=false;
                    this.titleDialog="Registrar Nuevo Usuario"   
                }
            },
            clickImportar(){
                this.dialogVisible=true;
            },
            clickDelete(id) {
                this.destroy(`/${this.resource}/baja/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            },
            
        }
    }
</script>
