<template>
    <form autocomplete="off" @submit.prevent="submit" 
    v-loading="loadingForm"  
    element-loading-text="Cargando Espere...">
            <div class="row">
               <div class="col-md-6">
                   <div class="row">
                       <div class="col-md-12">
                              <x-form-group label="Nombre de Facultad" :error="errors.facu_chnomfac">
                                <el-input v-model="form.facu_chnomfac">
                                </el-input>
                                 </x-form-group>
                       </div> 
                       </div>
                </div>
               <div class="col-md-6">
                   <div class="row">
                       <div class="col-md-12">
                              <x-form-group label="Estado" :error="errors.facu_boestfac">
                    <el-radio-group v-model="form.facu_boestfac" size="small" >
                        <el-radio-button label="1" > Activo  </el-radio-button>
                        <el-radio-button label="2"> Inactivo  </el-radio-button>
                    </el-radio-group>
                              </x-form-group>
                       </div> 
                       </div>
                </div>
               </div>
        <div class="form-actions text-right mt-0">
            <el-button @click.prevent="close()">Cancelar</el-button>
            <el-button type="primary"  :loading="loading_submit" @click="submit()">Guardar</el-button>
            
        </div>
    </form>
</template>

<script>
 //const cityOptions = [];
import {functions} from '../../mixins/functions'
import { Loading } from 'element-ui';

import _ from "lodash";
export default {
  mixins: [functions],
  props: ["recordId", "mostrar_form"],
  data() {
    return {
      loading_submit: false,
      loadingForm:false,  
      resource: "faculty",
      errors: {},
      // array_roles:[],
      form: {},
      // cityOptions:[],
         // checkAll: false,
        // cities: this.cityOptions,
        // isIndeterminate: false
    };
  },

  async created() {
      this.initForm()
      this.create();
      //this.cargar_tables()
  },

  methods: {
    // async cargar_tables() {
    //   await this.$http.get(`/${this.resource}/tables`).then(response => {
    //     this.array_roles = response.data;
    //   });
    //     this.cityOptions=[]
    //     this.form.checkedRoles=[];
    //     let ii=-1;
    //      for (let i = 0; i < this.array_roles.length; i++) {
    //       this.cityOptions.push(this.array_roles[i].name)
    //   //    this.form.checkedRoles.push(this.array_roles[ii].name)
    //    }
    //    this.cities= this.cityOptions;
    //     this.form.checkedRoles=[]
    // },
     // handleCheckAllChange(val) {
     //    this.form.checkedRoles = val ? this.cityOptions : [];
     //    this.isIndeterminate = false;
     //  },
     //  handlecheckedRolesChange(value) {
     //    let checkedCount = value.length;
     //    this.checkAll = checkedCount === this.cities.length;
     //    this.isIndeterminate = checkedCount > 0 && checkedCount < this.cities.length;
     //  },
    
    initForm() {
       this.errors = {}
        this.form = {
            id: null,
            facu_chnomfac: null,
            facu_boestfac: null,
        }
    },
    async create() {
     // this.cargar_tables()
      if (this.recordId) {
        this.loadingForm = true;
        const respuesta = await this.$http.get(`/${this.resource}/record/${this.recordId}`);
       this.form = {
            id: respuesta.data.data.id,
            facu_chnomfac: respuesta.data.data.facu_chnomfac,
            facu_boestfac: respuesta.data.data.facu_boestfac,
            // password:null,
            // checkedRoles:[]
        } 
        //  this.form.checkedRoles=[];
        // const response = await this.$http.get(`/${this.resource}/assigned/${this.recordId}`); 
        // let datas=response.data;         
       //   for (let i = 0; i < response.data.length; i++) {
       //    this.form.checkedRoles.push(response.data[i].role.name)
       // }
        this.loadingForm = false;
      //  this.form.password=null;
      }
      
     
    },
     submit() {
        this.loading_submit = true
        this.$http.post(`/${this.resource}`, this.form)
            .then(response => {
                if (response.data.success) {
                    this.$message.success(response.data.message)
                    this.close()
                } else {
                    this.$message.error(response.data.message)
                }
                
            })
            .catch(error => {
                if (error.response.status === 422) {
                    this.errors = error.response.data.errors
                } else {
                    console.log(error)
                 }
            })
            .then(() => {
                this.loading_submit = false
            })
            },
    close() {
      this.active = 0;
      this.$emit("update:mostrar_form", false);
      this.$emit("update:recordId", 0);
      this.initForm();
    }
  }
};
</script>
