<template>
  <div class="content-wrapper">
            <div class="content-body">
                <!-- card actions section start -->
                <section id="card-actions">

                    <!-- Info table about action starts -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header bg-primary  pt-1 pb-1">
                                    <h4 class="card-title text-white"><i class="feather icon-grid"></i>{{titleDialog}}</h4>
                                    <div class="heading-elements pt-0 mt-0">
                                        <ul class="list-inline mb-0 pt-0 mt-0 display" >
                                        <li>
                                              <a data-action="expand"> 
                                                   <el-tooltip class="item" effect="light" content="Ampliar Pantalla" placement="bottom">
                                                    <el-button icon="el-icon-full-screen" size="mini">
                                                    </el-button>
                                                   </el-tooltip> 
                                                </a>
                                        </li>  
                                      
                                         <li class="pt-0 mt-0">
                                                <el-tooltip class="item" effect="light" content="Crear un Nueva facultad" placement="bottom">
                                                <el-button icon="el-icon-plus" size="mini" @click.prevent="clickCreate()" v-if="!mostrar_form"></el-button>
                                                </el-tooltip>
                                         </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                            <data-table :resource="resource" :type="type"  v-if="!mostrar_form">
                                <tr slot="heading">
                                    <th  class="text-center">N°</th>
                                    <th class="text-center">Nombre de la facultas</th>
                                    <th class="text-center">Estado</th> 
                                    <th class="text-center">Acciones</th> 
                                <tr>
                                <!-- <tr slot-scope="{index, row}" :class="row.facu_boestfac=='2' ? 'table-danger' : ' ' "> -->
                                <tr slot-scope="{index, row}" >
                                    <td class="text-center">{{ index }}</td>
                                    <td class="text-center">{{ row.facu_chnomfac}}</td>
                                    <td class="text-center">
  <button type="button" :class="row.facu_boestfac=='1' ? 'el-button el-tooltip item el-button--success el-button--small' : 'el-button el-tooltip item el-button--danger el-button--small' "><span v-if="row.facu_boestfac=='1'">Activo</span><span v v-else>Inactivo</span> </button>
                                    </td>

                                   <td class="text-center">
                                    <el-button-group>   
                                       <el-tooltip class="item" effect="light" content="Modificar facultad" placement="bottom">
                                       <el-button type="primary" icon="el-icon-edit" @click.prevent="clickCreate(row.id)"></el-button>
                                       </el-tooltip>
                                       <el-tooltip class="item" effect="light" content="Eliminar facultad" placement="bottom">
                                          <el-button type="danger" icon="el-icon-delete" @click.prevent="clickDelete(row.id)"></el-button>
                                       </el-tooltip>
                                    </el-button-group>
                                    </td>
                                </tr>
                            </data-table>
                                            </div>
                                        </div>
                                        <template>
                                             <FacultiesForm
                                                v-if="mostrar_form"
                                                :loadingForm.sync="loadingForm"
                                                :recordId.sync="recordId"
                                                :mostrar_form.sync="mostrar_form">
                                             </FacultiesForm>
                                        </template>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Info table about action Ends -->
                </section>
                <!-- // card-actions section end -->

            </div>
        </div>      
</template>
<style>
.display{
    display:block !important;
}
</style>

<script>
    import FacultiesForm from './form.vue'
    import DataTable from '../../components/DataTable.vue'
    import {deletable} from '../../mixins/deletable'
    import { Loading } from 'element-ui';
    export default {
        mixins: [deletable],
        components: { DataTable,FacultiesForm},
        data() {
            return {
                showDialog: false,
                resource: 'faculty',
                loadingForm:false,
                recordId: null,
                mostrar_form:false,
                array_products:[],
                // Title_Modal:'Reporte de Ventas',
                type:'1',
                titleDialog:"Lista de Facultades",
            }
        },
        async  created() {
           
       },
        methods: {
            clickCreate(recordId = 0) {
                this.mostrar_form = true;
                if(recordId!=0){
                    this.recordId = recordId;
                    this.loadingForm=true
                }else{
                    this.loadingForm=false;   
                }
            },
            clickDelete(id) {
                this.destroy(`/${this.resource}/baja/${id}`).then(() =>
                    this.$eventHub.$emit('reloadData')
                )
            },
            
        }
    };
</script>
